body {
    color: white;
    background-color: black;
}

button {
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

span {
    border-width: 1px;
    border-style: solid;
}

.ok {
    background-color: #004000;
    color: lime;
    border-color: green;
}

.nok {
    background-color: #400000;
    color: red;
    border-color: red;
}

.warn {
    background-color: #404000;
    color: yellow;
    border-color: yellow;
}
